//.sortable {
//  cursor: pointer;
//  user-select: none;
//}
//
//.sortable:hover {
//  color: #007bff;
//}
table {
  th {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
  }
}

thead tr th {
  padding-top: 15px;
  padding-bottom: 15px;
}

thead tr th:first-child {
  border-top-right-radius: 10px;
}

thead tr th:last-child {
  border-top-left-radius: 10px;
}
